
{% load i18n %}
{% load staticfiles %}
<html lang="en" {% block htmlattr %}{% endblock %}>
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{% block title %}欢迎来到王博的博客{% endblock %}</title>
	{% block description %}

	{% endblock %}

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
    <link href="{% static "css/gsdk.css" %}" rel="stylesheet"/>
    <link href="{% static "css/webapp.css" %}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/pe-icon-7-stroke.css' %}" rel="stylesheet" />
	{% block extra_head %}{% endblock %}

</head>
<body style="background-color: white">
   <nav class="navbar navbar-ct-azure navbar-icons" role="navigation-demo">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{% block welcome_content %}欢迎来到王博的博客{% endblock %}</a>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-example-2">
            {% block navcontent %}
          <ul class="nav navbar-nav navbar-right">
{#                <li>#}
{#                   <a href="/mylife/home/">#}
{#                        <i class="pe-7s-home"></i>#}
{#                        <p>主页</p>#}
{#                    </a>#}
{#                </li>#}
                <li>
                   <a href="/mylife/home/">
                        <i class="pe-7s-home"></i>
                        <p>生活笔记</p>
                    </a>
                </li>
                <li>
                   <a href="" >
                        <i class="pe-7s-study"></i>
                        <p>技术瞎谈</p>
                    </a>
                </li>
                <li>
                   <a href="/aboutme/aboutme/" >
                        <i class="pe-7s-user"></i>
                        <p>关于自己</p>
                    </a>
                </li>
                <li>
                   <a href="" >
                        <i class="pe-7s-mail"></i>
                        <p>给我留言</p>
                    </a>
                </li>
                <li>
                   <a href="" >
                        <i class="pe-7s-credit"></i>
                        <p>赞助博主</p>
                    </a>
                </li>
           </ul>
            {% endblock %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {% block bodycontent %}
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    {% block bodyleft %}
                    {% endblock %}
                </div>
                <div class="col-md-5">
                    {% block bodyright %}
                        <div class="row">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <img style="margin-top: 10px" width="100px" height="100px" src="/media/{{ myselfInfo.avatar }}" alt="Circle Image" class="img-circle">
                                        </div>
                                        <div class="row" style="margin-left: 20px">
                                            <div class="col-md-8">
                                                <p>姓名：{{ myselfInfo.user_name }}</p>
                                                <p>职业：{{ myselfInfo.job_post }}</p>
                                                <p>QQ ：{{ myselfInfo.qq_number }}</p>
                                                <p>学历 ：{{ myselfInfo.education_background }}</p>
                                                <p>大学 ：{{ myselfInfo.university }}</p>
                                                <p>工作时间 ：{{ myselfInfo.work_time|date:"Y-m-d" }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-block">
                                    <div class="row text-center">
                                        <label style="font-size: 16px;margin-top: 10px;">友情链接</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5" style="margin-left: 20px">
                                            <p style="font-size: 14px"><a target="view_window" href="http://www.cocoachina.com">CocoaChina</a></p>
                                            <p style="font-size: 14px"> <a target="view_window" href="http://www.runoob.com/python/python-tutorial.html">Python菜鸟教程</a></p>
                                            <p style="font-size: 14px"> <a target="view_window" href="http://blog.devtang.com">唐巧博客 (iOS)</a></p>
                                            <p style="font-size: 14px"><a target="view_window" href="http://blog.csdn.net/leixiaohua1020/">雷霄骅专栏(FFMPEG)</a></p>
                                        </div>
                                        <div class="col-md-5 pull-right">
                                            <p style="font-size: 14px"><a target="view_window" href="http://code4app.qiniudn.com">Code4App(iOS源码库)</a></p>
                                            <p style="font-size: 14px"> <a target="view_window" href="http://weibo.com/2697914143/profile?topnav=1&wvr=6">新浪微博(关注我)</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
</body>
<footer class="footer" style="background-color: lightgray;position:absolute;width: 100%;">
    <div class="container">
        <div class="social-area pull-right">
            <a class="btn btn-social btn-facebook btn-simple">
                <i class="fa fa-facebook-square"></i>
            </a>
            <a class="btn btn-social btn-twitter btn-simple">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-social btn-pinterest btn-simple">
                <i class="fa fa-pinterest"></i>
            </a>
        </div>
        <div class="copyright">
            &copy; 2017 Creative wangbo
        </div>
    </div>
</footer>