{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}生活笔记{% endblock %}
{% block bodyleft %}
    {% for list in notelist %}
    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-md-8" style="color: #00bbff">
                   <label style="font-size: 16px;margin-left: 10px;margin-top: 5px"><a href="/mylife/aricledetail/?aricle_id={{ list.pk }}">{{ list.title_note }}</a></label>
                </div>
                <div class="col-md-4 pull-right">
                    <p style="margin-top: 5px">分类：{{ list.aricletype.type_name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p style="margin-left: 10px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;">{{ list.content }}</p>
{#                                <p>{{ article.content|linebreaksbr }}</p> #}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p style="font-size: 14px;margin-left: 10px;">日期：{{ list.created_on|date:"Y-m-d H:i:s" }}</p>
                </div>
                <div>
                    <div class="col-md-4" style="color: #00bbff">
                         <p style="font-size: 14px;margin-left: 10px;">点赞（{{ list.praisecount }}）</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
